body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 58px;
    position: relative;
}

.logo {
    position: absolute;
    transform: translateX(-48%);
    left: 50%;
    width: 100vw;
    z-index: 2;
}

.grid {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    top: 133px;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: 1;  
}
.weHave {
    position: absolute; 
    left: 58px;
    top: 853px; 
}

.weHave h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    margin: 0;
}

