/* desktop */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 58px;
    box-sizing: border-box;
  }

/* Основные стили для hero */
.hero {
    flex: 1;
    height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Стили для сетки */
.hero .grid {
    margin-top: 30px;
    width: 100%;
    height: auto;
    object-fit: cover;
}


.hero .logo {
    position: absolute;
    top: 55%; 
    left: 54%;
    transform: translate(-50%, -50%); 
    max-width: 1300px; 
    height: 700; 
    z-index: 2; 
}

.weHave {
    flex: 1;
    position: relative;
}

.weHave h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    margin: 0;
}

/* mobile */
@media (max-width: 700px) {
    .container {
      max-width: 100%;
    }
  }